{% set style = style|default(bootstrap_get_style()) %}
{% set col_size = col_size|default(bootstrap_get_col_size()) %}

{% if attr.label_col is defined and attr.label_col is not empty %}
    {% set label_col = attr.label_col %}
{% endif %}
{% if attr.widget_col is defined and attr.widget_col is not empty %}
    {% set widget_col = attr.widget_col %}
{% endif %}
{% if attr.col_size is defined and attr.col_size is not empty %}
    {% set col_size = attr.col_size %}
{% endif %}
{% if attr.style is defined and attr.style is not empty %}
    {% set style = attr.style %}
{% endif %}

{% set label_col = label_col|default(bootstrap_get_label_col()) %}
{% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

{% if style == 'horizontal' %}
<div class="form-group">
    <div class="{{ ('col-' ~ col_size ~ '-' ~ label_col)|replace({ xs: 'xs-offset', sm: 'sm-offset', md: 'md-offset', lg: 'lg-offset' }) }} {{ ('col-' ~ col_size ~ '-' ~ widget_col) }}">
{% endif %}

{{ form_widget(form) }}

{% if style == 'horizontal' %}
    </div>
</div>
{% endif %}
