{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_title %}{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block fos_user_content %}
    <div class="alert alert-success">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </div>

    {% include 'FOSUserBundle:Resetting:request_content.html.twig' %}
{% endblock %}
